.nav{
    list-style-type: none;
    display:flex;
    flex-direction:row-reverse;
    justify-content: space-between;
    padding:0px;
}
.container{
    display:flex;
    flex-wrap:wrap;
}
.animal{
    flex-basis:25%;
}
img{
    width:250px;
}

/*====================Dogs.html css======================*/
.wrapper{
    display:flex;
    flex-wrap:wrap-reverse;
    justify-content: space-around;
}
.canine{
    flex-basis: 20%;
}
img{
    width:400px;
}